root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,md,yml}]
indent_size = 2

[*.{csproj,proj}]
indent_size = 2

[*.cs]
indent_size = 4
csharp_using_directive_placement = outside_namespace
dotnet_diagnostic.IDE0005.severity = error
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
